@font-face {
  font-family: "Rosemary";
  src: url("/fonts/Rosemary.ttf");
}

@font-face {
  font-family: "Rosemary-italic";
  src: url("/fonts/Rosemary-italic.ttf");
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  margin: 25px;
  padding: 0;
  font-family: Rosemary, papyrus, sans-serif;
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2,
h3 {
  font-size: 2.5rem;
  margin: 25px;
  padding: 0;
  font-family: Rosemary, papyrus, sans-serif;
}

@media (max-width: 550px) {
  h2,
  h3 {
    font-size: 2rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Rosemary, papyrus, sans-serif;
  margin: 0 10px;
  padding: 0;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 20vw;
  width: 80vw;
  height: 10vh;
  z-index: 999;
  color: #fff;
  text-align: center;
  background: black;
}
@media (max-width: 550px) {
  header {
    left: 10vw;
    width: 90vw;
    text-align: center;
  }
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: black;
  font-family: "Roboto", sans-serif;
}

body {
  padding-top: 10vh;
}

/*content styling*/
.section {
  display: grid;
  justify-content: center;
  place-items: center;
  align-items: center;
  top: 10vh;
  height: calc(100vh - 10vh) !important;
  margin-left: 20vw;
  position: relative;
  padding-top: 10vh;
}

.section:first-of-type {
  margin-top: 10vh !important;
}

@media (max-width: 550px) {
  .section {
    margin-left: 10vw;
  }
}

.link {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: Rosemary, papyrus, sans-serif;
  margin: 0 10px;
  padding: 0;
}

.content {
  display: grid;
  place-items: center;
  align-items: center;
  width: 80%;
  height: 70%;
  text-align: center;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.5);
  text-wrap: wrap;
  margin: auto auto;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .content {
    width: 100%;
    height: 90%;
  }
}
.content p {
  margin: 15px;
  font-family: sans-serif;
}

@media (max-width: 550px) {
  .content p {
    margin: 5px;
  }
}

.content h2 {
  top: 0;
  margin-top: 0;
}

.section__text--container {
  width: 60%;
}

.content img {
  max-width: 40%;
  height: auto;
  max-height: 350px;
  display: inline-block;
  grid-template-columns: minmax(100px, 1fr);
}

.content img {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
  border-radius: 15px;
  object-fit: cover;
}

.content.visible img {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 450px) {
  .content img {
    max-height: 150px;
    max-width: 40%;
    object-fit: cover;
    grid-template-columns: minmax(50px, 1fr);
  }
}

@media (max-width: 650px) {
  .content img {
    max-height: 300px;
    max-width: 250px;
    grid-template-columns: minmax(100px, 1fr);
  }
}

@media (max-width: 1300px) {
  .content img:nth-of-type(n + 3) {
    display: none;
  }
}

@media (max-width: 650px) {
  .content img:nth-of-type(n + 2) {
    display: none;
  }
}
img:hover {
  cursor: pointer;
}


/*animation of sections*/

@media (preferes-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s;
}

.visible {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease-in-out;
}



@media (max-width: 850px) {
  .section__text--container {
    width: 80%;
  }
}

/*Timeline*/

.timeline {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(169, 142, 91) 30%,
    rgb(35, 34, 34) 70%
  );
}

.timeline {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20vw;
  background-color: #333;
  z-index: 999;
}

.timeline-buttons {
  list-style: none;
  margin-left: 15%;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: space-between;
  margin-top: 15%;
  position: relative;
}

.timeline-buttons::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #c6f5b4;
}

.timeline-buttons li {
  position: relative;
}

.timeline-buttons button {
  background-color: #333;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 0;
}
.timeline-buttons li:first-child {
  margin-top: -10px;
}

.timeline-buttons li:last-child {
  margin-bottom: -7px;
}

.timeline-buttons span {
  position: absolute;
  left: 30px;
  top: -5px;
}

@media (max-width: 550px) {
  .timeline-buttons span {
    display: none;
    position: absolute;
    z-index: 1000; /* Ensure the date is displayed over other content */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
  }

  .timeline-buttons button:hover + span {
    display: block;
  }
}

.timeline button:hover {
  transform: scale(1.5);
  transition: 200ms;
  cursor: pointer;
}

@media (max-width: 550px) {
  .timeline {
    width: 10vw;
  }
  .timeline-buttons span {
    display: none;
  }
}

/*Snap*/

html {
  scroll-snap-type: y mandatory;
}

.section {
  scroll-snap-align: start;
}

/*modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20vw;
  top: 0;
  width: 80%;
  height: 80%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  top: 10%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 15px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
